.App {
  margin-bottom: 0.5em;
}

.App-header {
  background-color: #67A268;
  height: 150px;
  padding: 1em 5em;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

th, td { padding-left: 0 !important; }
header { padding-left: 5em; }
th.NoBorderTableCell-noBottomBorder-6 { padding-bottom: 0; }
td.MuiTableCell-root { padding-top: 0; padding-bottom: 0; }
th.MuiTableCell-root { padding-bottom: 0; }
.MuiStepper-horizontal { margin-bottom: 1em; }
td>p.MuiTypography-body1 { font-weight: bold; padding: 10px; background-color: #c6efe5; }
.MuiCardContent-root, .MuiCardHeader-root { padding-bottom: 0; }

button.MuiTab-root { background-color: #fffbf5; border-right: 1px solid white; }
button.MuiTab-root:hover { background-color: #fff3e3 }
.MuiCardContent-root .MuiCard-root .MuiCardHeader-root .MuiTypography-h5 { font-size: 0.8em; }
.MuiFormHelperText-root {
  color: rgba(234, 0, 0, 0.54) !important;
  font-weight: 600 !important;
}
.MuiTable-root { margin-bottom: 20px; }
th .MuiIconButton-root { background-color: rgba(63, 81, 181, 0.2) !important }
th .MuiIconButton-root:hover { background-color: rgba(63, 81, 181, 0.5) !important }
